<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <title>Satellite Dashboard</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    <style>
        body {
            display: none;
        }
    </style>

</head>

<body>

    <!-- Header Section -->
    <header class="top-bar">
        <div class="left-side">
            <h1>🌍 Satellite Data Visualization</h1>
        </div>
        <div class="right-side">
            <button id="toggleMode">🌙 Dark Mode</button>
            <button id="logoutBtn">🚪 Logout</button>
        </div>
    </header>



    <!-- Dashboard Layout -->
    <div class="dashboard">

        <!-- Left Panel -->
        <section class="panel left">

            <h2>🌍 Satellite Location</h2>
            <div id="map"></div> <!-- Map to show satellite position -->
        </section>

        <!-- Central Real-Time Tracker -->
        <section class="panel center">
            <h1>🌍 Real-Time Satellite Tracker 🚀</h1>
            <input type="text" id="satelliteInput" placeholder="Enter satellite name">
            <button onclick="searchSatellite()">Search</button>
            <p id="satelliteResult"></p>
        </section>



    </div>

    <!-- JavaScript -->

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

    <script>
        const token = localStorage.getItem("token");
        if (!token) {
            window.location.href = "/login";
        } else {
            document.body.style.display = "block";
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

</body>

</html>